*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #000000e9;
    color: #ffffff;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
    /* flex-wrap: wrap; */
    /* width: 100%; */
    padding-top:40px;
    /* margin: 0 15vw; */
    font-family: "Poppins", sans-serif;
    /* border: 2px solid rgb(227, 16, 16); */
    /* margin:0px 40px; */
    /* height: 20vh; */
}
.header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: absolute;
    top: 10px; */
    /* border: 2px solid red; */
    /* margin-top: 100px; */
    /* position: relative; */
    top:30px;
    /* position: absolute; */

}

.header nav ul{
    display: flex;
    gap: 25px;
    /* border: 2px solid red; */
    position: relative;
    left: 160px;
}
.header nav ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    /* display: flex; */

}
.header nav  button{
    padding: 10px;
    width: 100px;
    position: relative;
    right: 30px;
    background-color: #2c2c2c;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    border: 1px solid black;
    /* box-shadow: 1px 1px 1px 1px #808080; */
}
.header2{
    /* border: 2px solid yellow; */
    display: flex;
    height: 600px;
}
.imagemain img{
    /* border: 5px solid blue; */
    display: inline-block;
    height: 500px;
    position: relative;
    /* left: 250px; */
    bottom:150px;
    /* width: 300px; */
    margin-left: 200px;

}
.leftsection{
    /* border: 2px solid red; */
    padding: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* position: absolute; */
}
.leftsection .i img{
    /* text-align: center; */
    position: relative;
    left: 60px;
    bottom: 40px;
    /* border: 5px solid pink ; */
}
/* .content{
    border: 2px solid yellow ;
    /* margin: 200px; */
 
.content h1{
    /* border: 2px solid yellow ; */
    display: inline-block;
    /* text-align:center; */
    position:relative;
    bottom: 35px;
    left: 40px;
    font-size: 50px;

    /* bottom:200px; */
}

.content h4{
    /* border: 2px solid red; */
    display: inline-block;
    /* position: absolute; */
    position: relative;
    right: 155px;
    top: 10px;
    padding: 15px;
    /* bottom: 1px; */
    /* right: 140px; */
    /* margin:10px 0px; */
    font-size: 20px;
    /* width: 150px; */
    /* text-align: start; */

}
.content p{
    /* border: 2px solid red; */
    max-width: 430px;
    margin: 50px 0px;
    line-height: 28px;
    font-weight: lighter;
    font-size: 16px;
    color: hsl(180, 2%, 69%);
    background-color: black;
    position: relative;
    left: 28px;
}
.content button{
    width: 250px;
    /* border: 2px solid red; */
    position: relative;
    bottom: 40px;
    left: 35px;
    background-color: #242323;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    
}
.content button nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
/* .add{
    /* border: 2px solid red; */
    /* width: 300px; */
    /* display: flex; */

.add nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 140px;
    /* width: 150px; */
    /* display: inline-block; */
}
.specs .logo  {
    /* border: 2px solid red; */
    text-align:center;
    margin-top: 55px;
}
.specs .left{
    /* border: 2px solid red; */
    display: flex;
    justify-content:center;
    gap: 40px;
}
.target{
    display: flex;
    /* border: 2px solid red; */
    flex-direction: column;
    position: relative;
    right: 80px;
}
.target div{
    padding: 10px;
}
.bluetooth,.microphone{
    position: relative;
    left: 35px;
    /* padding: 10px; */
}
/* .leftimage img{
    /* text-align: center; */
    /* border: 2px solid blue; */

.logocase{
    text-align: center;
    padding: 40px;
}
.case{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.right{
    /* border: 2px solid yellow; */
    width: 220px;
    line-height: 25px;
    color: grey;
    /* list-style: none; */
    line-height: 28px;
}
.case button{
    background-color: rgb(38, 37, 37);
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cards{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
    border-radius: 10px;
    /* background-color: #acabab;
     */
     background-image: linear-gradient(rgb(14, 13, 13),rgb(39, 37, 37));
}
.cards .left{
    /* border: 2px solid yellow; */
    font-size: 20px;
    position: relative;
    right: 50px;
    bottom: 15px;
    line-height: 30px;
    width: 240px;
}
.cards .left span{
font-size: 14px;
padding: 25px 0px;
color: #acabab;
/* letter-spacing: 8px; */
/* word-spacing: 8px; */
}
.cards .left button{
    /* border: 2px solid blue; */
    width: 120px;
    height: 40px;
    /* padding: 5px; */
    background-color: #0a0000;
    display: flex;
    justify-content: center;
    /* align-items: baseline; */
    align-items: center;
    border-radius: 8px;
    margin:10px 0px; 
    gap: 10px;
    cursor: pointer;
}

.chooseyourstylesection .headlogo{
    text-align: center;
    margin: 30px 0px;
    padding: 50px;
     /* border: 2px solid yellow; */
     /* height; */
    }
  .parent{
    /* border: 2px solid green; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* gap: 100px; */
    /* flex-wrap:wrap; */
  }  
  .parent div
  {
    /* height: 50px; */
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid yellow; */
    background-color: #242323;
    border-radius: 8px;
    margin: 15px;
    width: 200px;
    padding: 20px;
  }
  .parent  .main{
    height: 100px;
    width: 100px;
    /* padding: 20px; */
    /* border: 2px solid yellowgreen; */
    position: relative;
    bottom: 100px;
    margin: 20px;
  }
  .parent  p{
      position: relative;
      top: 165px;
      right: 60px;
    }
    .parent .bag{
        position: relative;
        left: 50px;
        /* border: 2px solid red; */
  }
  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid greenyellow; */
    margin: 30px 0px;
  }
  footer ul{
    list-style: none;
    line-height: 30px;
  }
.email input{
    height: 40px;
    width: 250px;
    background-color: #2c2c2c;
    color: white;
    border: 1px solid black;
    list-style: none;
    outline: none;
    border-radius: 8px;
}
.email{
    display: flex;
    align-items: center;
    /* 
    writing-mode: horizontal-tb !important */
}
.sub
{
    /* border: 2px solid red; */
    position: relative;
    right: 115px;
    border-radius: 8px;
    padding: 5px;
    background-color: #0a0000;
    
}
